venv/
__pycache__/
.DS_Store
distance-time-calculator/src/__pycache__/
georeference/src/__pycache__/
tsp-solver/LKH-2.0.10/*
!tsp-solver/LKH-2.0.10/LKH
rvrptw-solver/cpp-code/*
!rvrptw-solver/cpp-code/run
rvrptw-solver/input/*
!rvrptw-solver/input/Instance_RVRPTW.xlsx
route-compactor-solver/python-code/v1/*
!route-compactor-solver/python-code/v1/rcompactor
route-compactor-solver/python-code/v2/*
!route-compactor-solver/python-code/v2/rcompactor
route-compactor-solver/input/*
!route-compactor-solver/input/Instance_RVRPTW.xlsx
!route-compactor-solver/input/Output_RVRPTW.xlsx
api-tester-ui/node_modules/